section.koapp-element{
  border-bottom: 2em;
}

div[class^="shadow-progress"] #progressContainer.shadow-progress,
.shadow-progress-1 #progressContainer.shadow-progress{
  height: 7px;
}

.shadow-slider #sliderKnob.shadow-slider{
  top: 1px;
  width: calc(30px + var(--slider-height, 4px));
  height: calc(30px + var(--slider-height, 4px));
}

/* progress-bar */
.shadow-progress-1 #primaryProgress.shadow-progress{
  margin: 0;
}

/*dropbox-menu*/
.input-content.shadow-input-container{
  padding: 5px;
  line-height: normal;
  border: 1px solid #666;
  margin-top: 3px;
}

div[class^="shadow-input-container"] .input-content.shadow-input-container  input{
  font-size: 1.5em;
}

.unfocused-line.shadow-input-container,
.focused-line.shadow-input-container{
  background: none;
  display: none;
}

/*shadow-input-container*/
.slider-input.shadow-slider{
  width: 100% !important;
  overflow: visible;
}

.selectable-content.shadow-menu  > .iron-selected{
  color: var(--light-accent-color);
}
